<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @organisme_referant.nom %>
</p>

<p>
  <strong>Nocivique:</strong>
  <%= @organisme_referant.noCivique %>
</p>

<p>
  <strong>Rue:</strong>
  <%= @organisme_referant.rue %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @organisme_referant.ville %>
</p>

<p>
  <strong>Province:</strong>
  <%= @organisme_referant.province %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @organisme_referant.etat %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @organisme_referant.codePostal %>
</p>

<p>
  <strong>Telephonebureau:</strong>
  <%= @organisme_referant.telephoneBureau %>
</p>

<p>
  <strong>Telephonetelecopie:</strong>
  <%= @organisme_referant.telephoneTelecopie %>
</p>

<p>
  <strong>Courriel:</strong>
  <%= @organisme_referant.courriel %>
</p>

<p>
  <strong>Siteweb:</strong>
  <%= @organisme_referant.siteWeb %>
</p>

<%= link_to 'Edit', edit_organisme_referant_path(@organisme_referant) %> |
<%= link_to 'Back', organisme_referants_path %>
